<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Instagram catifier</title>

    <link href="./static/assets/cat.ico" rel="icon">
    <link rel="stylesheet" href="./static/bootstrap.min.css">
    <script src="./static/jquery-3.5.0.min.js"></script>
    <script src="./static/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-xl">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="./">
                <img src="./static/assets/cat.ico" width="30" height="30" class="d-inline-block align-top" alt="">
                Catifier
            </a>
        </nav>
        <div class="container-fluid">
            <h3 class="text-center" id="mainText">
                <p>Ooops! Something went wrong.</p>
                <p>Please try again.</p>
            </h3>
            <div class="text-center">
                <img src="./static/assets/cat-min-gray.png" class="img-fluid">
            </div>
        </div>
    </div>
</body>

</html>