<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Instagram catifier</title>

    <link href="./static/assets/cat.ico" rel="icon">
    <link rel="stylesheet" href="./static/bootstrap.min.css">
    <script src="./static/jquery-3.4.1.min.js"></script>
    <script src="./static/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid" style="max-width: 512px">
        <div class="container-fluid">
            <h3 class="text-center" id="mainText">
                Cats are busy processing your request. 
                Once they are done, they will contact you using your email address. 
                Meanwhile you can try to catify another account.
            </h3>
            <div class="text-center">
                <img src="./static/assets/cat-min-gray.png" class="img-fluid">
            </div>
        </div>
    </div>
</body>

</html>