<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Instagram catifier</title>

    <link href="./static/assets/cat.ico" rel="icon">
    <link rel="stylesheet" href="./static/bootstrap.min.css">
    <script src="./static/jquery-3.4.1.min.js"></script>
    <script src="./static/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("input[id='userEmailSwitch']:checkbox")
                .change(function () {
                    if ($("#userEmail").attr("required")) // == true
                    {
                        $("#userEmail").prop("required", false);
                    }
                    else
                    {
                        $("#userEmail").prop("required", true);
                    }
                });
        });
    </script>

    <!--
            Stack/features:
            Bootstrap for Adaptive Web UI creation
            CSS is used for a simple static animation (without a need to change DOM)
            jQuery is used in order to communiate to server and change DOM dinamically
            HTML POST method is used to pass form data to server (check submit_form)
        -->
</head>

<body>
    <div class="container-fluid" style="max-width: 512px">
        <div class="container-fluid">
            <h1 class="text-center">Prepare to be catified</h1>
            <div class="text-center">
                <img src="./static/assets/cat-min.png" class="img-fluid">
            </div>
        </div>
        <div class="container-fluid">
            <form action="submit_form" method="POST">
                <div class="form-group">
                    <input class="form-control" id="instagramAccount" type="text" name="instagramAccount"
                        placeholder="Enter Instagram account" required="true">
                    <small class="form-text text-muted text-left" id="instagramAccountHelper">The account should be
                        public otherwise cats can not access it :(</small>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-switch" data-toggle="collapse" data-target="#userEmailField"
                        aria-expanded="false" aria-controls="userEmailField">
                        <input class="custom-control-input" id="userEmailSwitch" type="checkbox">
                        <label class="custom-control-label" for="userEmailSwitch">I want to get more then 9 last
                            photos</label>
                    </div>
                    <div class="collapse" id="userEmailField">
                        <input class="form-control" id="userEmail" type="email" name="userEmail"
                            placeholder="Enter your email">
                        <small class="form-text text-muted text-left" id="userEmailHelper">Cats will process photos and
                            will send a link to the result</small>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">Catify</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>