<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Instagram catifier</title>

    <link href="./static/assets/cat.ico" rel="icon">
    <link rel="stylesheet" href="./static/animation.css">
    <link rel="stylesheet" href="./static/bootstrap.min.css">
    <script src="./static/jquery-3.5.0.min.js"></script>
    <script src="./static/bootstrap.min.js"></script>

    <script>
        // jQuery is used in order to GET data from server
        // and update DOM dynamically
        // Also worth to mention that jQuery executes functions asynchronously
        // That's why below methods are nested (to synchronize calls)
        $(document).ready(function () {
            $.get("/scraping_ready", { instagramAccount: "{{ instagramAccount }}" })
            .done(function () {
                $("#currentProgress").text("Cats are messing with peoples faces...")
                $("#cat1").attr("src", "./static/assets/cat-min-fade-filled.png");
                $.get("/modification_ready", { instagramAccount: "{{ instagramAccount }}" })
                .done(function () {
                    $("#currentProgress").text("Cats are done playing!")
                    $("#cat2").attr("src", "./static/assets/cat-min-fade-filled.png");
                    $.get("/redirect_to_gallery", { instagramAccount: "{{ instagramAccount }}" })
                    .done(function (data) {
                        window.location.href = data.redirect;
                    });
                })
                .fail(function (data, status) {
                    alert(status)
                })
            })
            .fail(function (data, status) {
                alert(status);
            })
        });
    </script>
</head>

<body>
    <div class="container-fluid" style="max-width: 512px">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <img src="./static/assets/cat-min-fade.png" class="img-fluid image-spin" id="cat1">
                </div>
                <div class="col">
                    <img src="./static/assets/cat-min-fade.png" class="img-fluid image-spin" id="cat2">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <p class="text-center" id="currentProgress">Cats are trying to get images...</p>
        </div>
    </div>
</body>

</html>